.portfolio-images-container div{
    width: 260px;
    height: 200px;
    margin: 10px;
    overflow: hidden;
}


.portfolio-images-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1.7s;
}

.portfolio-images-container img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.portfolio-menu{
    display: flex;
    list-style-type: none;
    margin: 0;
}

.portfolio-menu-container{
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 0 15px;
}

.portfolio-menu li a{
    padding: 0 12px;
    cursor: pointer;
}

.portfolio-menu li:first-child{
    margin-right: 70px;
}

.portfolio-menu li a{
    font-size: 19px;
    color: black;
    font-weight: bold;
}
.portfolio-images-container{
    padding: 0 10px;
}

#journal{
    padding-right: 0;
}